<%- include ('../partials/boilerplate') %>

<form method='POST' action='/todos'>
  <input name='todo' type='text' placeholder='To Do' />
  <input name='time' type='number' placeholder='Time' />
  <input type='submit' value='Submit!!!!!' />
</form>

<%- include ('../partials/end') %>